.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50px;
}

.red {
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50px;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
}

.green {
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50px;
}

#remove, #add {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    border: solid #B9B9B9;
    color: #a2a2a2;
    margin: auto;
    line-height: normal;
    padding-top: 7px;
    padding-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    display: block;
    float: right;
}

p {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #e7e7e7;
    text-align: center;
    padding-top: 25px;
}

div {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 5px;
}

section {
    width: 400px;
}

input {
    display: block;
    width: 100px;
    height: 35px;
    border-radius: 50%;
    border: solid #B9B9B9;
    margin: 0 5px 20px 100px;
    text-align: center;
    font-size: 14px;
}

#controllers {
    width: 325px;
}

#test {
    margin: auto;
}