.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50px;
}

.red {
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50px;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
}

.green {
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50px;
}

p {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #e7e7e7;
    text-align: center;
    padding-top: 25px;
}

div {
    display: inline-block;
}

section {
    width: 400px;
}